$pink: #E7717D;
$blue-grey: #b4d0e7;
$light-grey: #C2B9B0;
$brown: #7e685a;
$green: #AFD275;
$yellow: #fcb045;
$yellow-pink-linear:linear-gradient(90deg, rgba(255,198,117,1) 0%, rgba(226,181,186,1) 50%, rgba(231,113,125,1) 100%); 
$yellow-pink-radial: radial-gradient(circle, rgba(255,198,117,1) 0%, rgba(226,181,186,1) 50%, rgba(231,113,125,1) 100%);
$yellow-pink-radial-light: radial-gradient(circle, rgba(255,198,117,0.5) 0%, rgba(226,181,186,0.6) 50%, rgba(231,113,125,0.6) 100%);
