@import "../../styleUtils/colors";
@import "../../styleUtils/styles";

.nav {
    @include muted-background;
    height: 64px;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__image{
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 100%;
            margin-left: 20px;
        }

        p{
            display: inline;
            font-size: 64px;
            color: $pink;
        }
    }

    &__list{
        margin-right: 20px;

        a {
            @include button;
            display: inline-block;
            margin : 10px;
            padding: 10px;
            border-radius: 4px;
            
            &:last-child{
                color: $blue;
                background-color: ivory;
            }
        }

        }

    
}

@media screen and (max-width:800px){
    .nav{
        &__image{
            p {
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width:700px){
    .nav{
        &__image{
            p {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width:650px){
    .nav{
        &__image{
            p {
                font-size: xx-large;
            }
        }
    }
}

@media screen and (max-width:650px){
    .nav{
        &__image{
            p {
                font-size: x-large;
                // display: none;
            }
        }
    }
}

@media screen and (max-width:530px){
    .nav{
        &__image{
            p {
                font-size: large;
                // display: none;
            }
        }
    }
}

@media screen and (max-width:500px){
    .nav{
        &__image{
            p {
                display: none;
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .nav{
        &__list{
           margin-right: 0;
        }
    }
    
}