@import '../../styleUtils/colors';

.homePage{
    // background: $yellow-pink-radial-light;
    
    &__main{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        >div{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}