@import '../../styleUtils/colors';

.homePage{    
    &__main{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        >div{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}


@media screen and (max-width:1000px) {
    .homePage{
        &__main{
            >div{
                grid-template-columns: 100%;
            }
        }
    }
}
