.intro{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__pic{
        width: 80%;
    }

    // &__paragraph{
    //     width: 90%;
    // }
}

@media screen and (max-width:1000px) {
    .intro{
        &__pic{
            width: 30%;
        }
    }
}