@import "../../styleUtils/colors";

.signIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 80%;
    @include muted-background;
    
    h1{
        color: $blue;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 0;
    }

    &__para{
        padding: 0 30px 0 30px;
        text-align: center;
        font-size: 1.25rem;
        margin-top: 5%;
    }

    &__button{
        &:hover{
            transform: scale(1.02);
        }

        &:active{
            transform: scale(1);
        }
    }
}

