.signIn{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__para{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25rem;
        text-align: center;
    }

    &__button{
        margin-left: auto;
        margin-right: auto;

        &:hover{
            transform: scale(1.02);
        }

        &:active{
            transform: scale(1);
        }
    }
}

