@import "./styleUtils/colors";
@import "./styleUtils/styles";

html, body, #root, .App {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

.App{
  background: $yellow-pink-radial-light;
}

a, button {
  text-decoration: none;
  cursor: pointer;
    &:hover{
        transform: scale(1.02);
    }

    &:active{
        transform: scale(1);
    }
}

.page {
  width: 90%;
  margin: auto;
  height: 100vh;
}